<link rel="stylesheet" href="../styles/structure.css">


<div id="wrapper" class="side-nav">
        <div id="sidebar-wrapper">
            <div class="row toggleClass" >
                <a id="menu-toggle" href="" data-toggle="collapse" data-target="#modules">
                    <span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a>
            </div>
            <div class="row nav-option" id="nav-option">
                <div data-toggle="collapse" data-target="#modules" class="mainHeading">
                    <a href=""><i aria-hidden="true"> </i> <span>MODULES</span>  </a>
                </div>
                <div class="subHeading collapse" id="modules">
                   asdas

                </div>

            </div>
    
        </div>
          <!-- Page content -->
        <div id="page-content-wrapper"  ui-view></div>
 </div>