<link rel="stylesheet" href="./styles/demo.css">
<link href="../styles/main.css" rel="stylesheet">
<div class='row'>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="/">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li><a ui-sref="/">Home</a></li>
                    <li><a ui-sref="/">Get Started</a></li>
                    <li><a ui-sref="/">About Us</li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="col-md-12 pad-1">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../images/img1.jpg" alt="Chania" width="460" height="345">
                </div>
                <div class="item">
                    <img src="../images/img2.jpg" alt="Chania" width="460" height="345">
                </div>
                <div class="item">
                    <img src="../images/img1.jpg" alt="Chania" width="460" height="345">
                </div>
                <div class="item">
                    <img src="../images/img2.jpg" alt="Chania" width="460" height="345">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
            </div>
</div>
<div class="col-md-12 action-buttons-row pad-15">
    <button ui-sref="devEditor" type="button" class="new-comp">Develop New Component <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
    <button ui-sref="dragView" type="button" class="existing-comp">Use Existing Component</button>
</div>
</div>
